.about-img{
    padding-top: 30px;
}
.button1{
    background-color: rgb(230, 50, 140);
    color: white;
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 5px 25px;
    border-radius: 20px;
}