.build{
    font-size: 15px;

}
.nav-link {
    font-size: 18px;
    font-weight: 600;
    color: rgb(12, 4, 6) !important;
    }

    .nav-link:hover {
        color: white;
        background-color: brown;
        
       
     }

     .hr1{
        color: rgb(233, 30, 131);
     }