.banner-img {
    background-image:
    linear-gradient(rgba(255,0,0,0.2),rgba(10,64,248,0.3)),url(https://i.ibb.co/59q0NH6/IMG-1316.jpg);
    background-size: 100% 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    transition: 5s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-out;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    
    
}

@keyframes animate{
    0%{
        background-image: linear-gradient(rgba(255,0,0,0.2),rgba(10,64,248,0.3)), url(https://i.ibb.co/v1WHYnY/IMG-2397.jpg);
    } 20%{
        background-image: linear-gradient(rgba(255,0,0,0.2),rgba(10,64,248,0.3)), url(https://i.ibb.co/K9FSrWV/IMG-2288.jpg);
    }
    40%{
        background-image: linear-gradient(rgba(255,0,0,0.2),rgba(10,64,248,0.3)), url(https://i.ibb.co/MM9hXR1/IMG-2276.jpg);
    } 60%{
        background-image: linear-gradient(rgba(255,0,0,0.2),rgba(10,64,248,0.3)), url(https://i.ibb.co/t4fHDYj/IMG-1223.jpg);
    } 80%{
        background-image: linear-gradient(rgba(255,0,0,0.2),rgba(10,64,248,0.3)), url(https://i.ibb.co/dt1s3jQ/IMG-2576.jpg);
    } 100%{
        background-image: linear-gradient(rgba(255,0,0,0.2),rgba(10,64,248,0.3)), url(https://i.ibb.co/BnSGm1d/IMG-1259.jpg);
    }
}

.banner-text h1 {
    padding: 5px;
    color: #f8f4f5;
    margin-top: 10px;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.banner-text p {
    color: #ffff;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}
.btn1{
    background-color: rgb(31, 9, 20);
    color: white;
    font-weight: 600;
    border: 2px solid rgb(216, 50, 50);
    margin: 20px;
    padding: 10px 25px;
    border-radius: 20px;
} 

/* .btn{
    background-color: rgb(65, 131, 65);
    color: aqua;
    border: 1px solid gray;
    margin: 20px;
    padding: 5px 25px;
    border-radius: 20px;
}  */



/* ************************ */


 .wrapper .static-text{
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    
 }
 .wrapper .dynamic-text{
    margin-left: 15px;
    line-height: 80px;
    height: 90px;
    /* background: red; */
    overflow: hidden;
 }



 

 .dynamic-text li{
    list-style: none;
    font-size: 50px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.735);
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
    -webkit-animation: slide 6s steps(4) infinite;
}

@keyframes slide {
    100%{
        top: -300px;
    }
 }
 .dynamic-text li span{
    position: relative;
 }

 .dynamic-text li span::afer{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: #343F4F; */
    border-left: 2px solid #FC6D6D;
    animation: typing 1.5s steps(10) infinite;
    -webkit-animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}







